
packages/Microsoft.ApplicationInsights.2.0.0/lib/dotnet5.4/Microsoft.ApplicationInsights.dll
packages/Microsoft.ApplicationInsights.2.0.0/lib/dotnet5.4/Microsoft.ApplicationInsights.XML
packages/Microsoft.ApplicationInsights.2.0.0/lib/net40/Microsoft.ApplicationInsights.dll
packages/Microsoft.ApplicationInsights.2.0.0/lib/net40/Microsoft.ApplicationInsights.XML
packages/Microsoft.ApplicationInsights.2.0.0/lib/net45/Microsoft.ApplicationInsights.dll
packages/Microsoft.ApplicationInsights.2.0.0/lib/net45/Microsoft.ApplicationInsights.XML
packages/Microsoft.ApplicationInsights.2.0.0/lib/net46/Microsoft.ApplicationInsights.dll
packages/Microsoft.ApplicationInsights.2.0.0/lib/net46/Microsoft.ApplicationInsights.XML
packages/Microsoft.ApplicationInsights.2.0.0/Microsoft.ApplicationInsights.2.0.0.nupkg
packages/Microsoft.ApplicationInsights.Agent.Intercept.1.2.1/lib/net40/Microsoft.AI.Agent.Intercept.dll
packages/Microsoft.ApplicationInsights.Agent.Intercept.1.2.1/lib/net45/Microsoft.AI.Agent.Intercept.dll
packages/Microsoft.ApplicationInsights.Agent.Intercept.1.2.1/Microsoft.ApplicationInsights.Agent.Intercept.1.2.1.nupkg
packages/Microsoft.ApplicationInsights.DependencyCollector.2.0.0/content/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.DependencyCollector.2.0.0/content/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.DependencyCollector.2.0.0/content/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.DependencyCollector.2.0.0/lib/net40/Microsoft.AI.DependencyCollector.dll
packages/Microsoft.ApplicationInsights.DependencyCollector.2.0.0/lib/net40/Microsoft.AI.DependencyCollector.XML
packages/Microsoft.ApplicationInsights.DependencyCollector.2.0.0/lib/net45/Microsoft.AI.DependencyCollector.dll
packages/Microsoft.ApplicationInsights.DependencyCollector.2.0.0/lib/net45/Microsoft.AI.DependencyCollector.XML
packages/Microsoft.ApplicationInsights.DependencyCollector.2.0.0/Microsoft.ApplicationInsights.DependencyCollector.2.0.0.nupkg
packages/Microsoft.ApplicationInsights.JavaScript.0.22.9-build00167/content/scripts/ai.0.22.9-build00167.js
packages/Microsoft.ApplicationInsights.JavaScript.0.22.9-build00167/content/scripts/ai.0.22.9-build00167.min.js
packages/Microsoft.ApplicationInsights.JavaScript.0.22.9-build00167/Microsoft.ApplicationInsights.JavaScript.0.22.9-build00167.nupkg
packages/Microsoft.ApplicationInsights.JavaScript.0.22.9-build00167/tools/prefix.html
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.0.0/content/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.0.0/content/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.0.0/content/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.0.0/lib/net40/Microsoft.AI.PerfCounterCollector.dll
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.0.0/lib/net45/Microsoft.AI.PerfCounterCollector.dll
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.0.0/Microsoft.ApplicationInsights.PerfCounterCollector.2.0.0.nupkg
packages/Microsoft.ApplicationInsights.Web.2.0.0/content/net40/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.Web.2.0.0/content/net40/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.Web.2.0.0/content/net40/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.2.0.0/content/net40/web.config.install.xdt
packages/Microsoft.ApplicationInsights.Web.2.0.0/content/net40/web.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.2.0.0/content/net45/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.Web.2.0.0/content/net45/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.Web.2.0.0/content/net45/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.2.0.0/content/net45/web.config.install.xdt
packages/Microsoft.ApplicationInsights.Web.2.0.0/content/net45/web.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.2.0.0/lib/net40/Microsoft.AI.Web.dll
packages/Microsoft.ApplicationInsights.Web.2.0.0/lib/net40/Microsoft.AI.Web.XML
packages/Microsoft.ApplicationInsights.Web.2.0.0/lib/net45/Microsoft.AI.Web.dll
packages/Microsoft.ApplicationInsights.Web.2.0.0/lib/net45/Microsoft.AI.Web.XML
packages/Microsoft.ApplicationInsights.Web.2.0.0/Microsoft.ApplicationInsights.Web.2.0.0.nupkg
packages/Microsoft.ApplicationInsights.WindowsServer.2.0.0/content/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.WindowsServer.2.0.0/content/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.WindowsServer.2.0.0/content/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.WindowsServer.2.0.0/lib/net40/Microsoft.AI.WindowsServer.dll
packages/Microsoft.ApplicationInsights.WindowsServer.2.0.0/lib/net40/Microsoft.AI.WindowsServer.XML
packages/Microsoft.ApplicationInsights.WindowsServer.2.0.0/lib/net45/Microsoft.AI.WindowsServer.dll
packages/Microsoft.ApplicationInsights.WindowsServer.2.0.0/lib/net45/Microsoft.AI.WindowsServer.XML
packages/Microsoft.ApplicationInsights.WindowsServer.2.0.0/Microsoft.ApplicationInsights.WindowsServer.2.0.0.nupkg
packages/Microsoft.ApplicationInsights.WindowsServer.2.0.0/Tools/install.ps1
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.0.0/content/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.0.0/content/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.0.0/content/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.0.0/lib/net40/Microsoft.AI.ServerTelemetryChannel.dll
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.0.0/lib/net40/Microsoft.AI.ServerTelemetryChannel.XML
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.0.0/lib/net45/Microsoft.AI.ServerTelemetryChannel.dll
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.0.0/lib/net45/Microsoft.AI.ServerTelemetryChannel.XML
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.0.0/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.0.0.nupkg
packages/Microsoft.AspNet.Cors.5.0.0/lib/net45/System.Web.Cors.dll
packages/Microsoft.AspNet.Cors.5.0.0/Microsoft.AspNet.Cors.5.0.0.nupkg
packages/Microsoft.AspNet.Identity.Core.2.2.1/lib/net45/Microsoft.AspNet.Identity.Core.dll
packages/Microsoft.AspNet.Identity.Core.2.2.1/lib/net45/Microsoft.AspNet.Identity.Core.xml
packages/Microsoft.AspNet.Identity.Core.2.2.1/Microsoft.AspNet.Identity.Core.2.2.1.nupkg
packages/Microsoft.AspNet.Identity.Owin.2.2.1/lib/net45/Microsoft.AspNet.Identity.Owin.dll
packages/Microsoft.AspNet.Identity.Owin.2.2.1/lib/net45/Microsoft.AspNet.Identity.Owin.xml
packages/Microsoft.AspNet.Identity.Owin.2.2.1/Microsoft.AspNet.Identity.Owin.2.2.1.nupkg
packages/Microsoft.AspNet.WebApi.5.2.3/Microsoft.AspNet.WebApi.5.2.3.nupkg
packages/Microsoft.AspNet.WebApi.Client.5.2.6/.signature.p7s
packages/Microsoft.AspNet.WebApi.Client.5.2.6/lib/net45/System.Net.Http.Formatting.dll
packages/Microsoft.AspNet.WebApi.Client.5.2.6/lib/net45/System.Net.Http.Formatting.xml
packages/Microsoft.AspNet.WebApi.Client.5.2.6/lib/net45/zh-Hans/System.Net.Http.Formatting.resources.dll
packages/Microsoft.AspNet.WebApi.Client.5.2.6/lib/net45/zh-Hans/System.Net.Http.Formatting.xml
packages/Microsoft.AspNet.WebApi.Client.5.2.6/lib/netstandard2.0/System.Net.Http.Formatting.dll
packages/Microsoft.AspNet.WebApi.Client.5.2.6/lib/netstandard2.0/System.Net.Http.Formatting.xml
packages/Microsoft.AspNet.WebApi.Client.5.2.6/lib/portable-wp8+netcore45+net45+wp81+wpa81/System.Net.Http.Formatting.dll
packages/Microsoft.AspNet.WebApi.Client.5.2.6/lib/portable-wp8+netcore45+net45+wp81+wpa81/System.Net.Http.Formatting.xml
packages/Microsoft.AspNet.WebApi.Client.5.2.6/Microsoft.AspNet.WebApi.Client.5.2.6.nupkg
packages/Microsoft.AspNet.WebApi.Client.zh-Hans.5.2.6/.signature.p7s
packages/Microsoft.AspNet.WebApi.Client.zh-Hans.5.2.6/lib/net45/zh-Hans/System.Net.Http.Formatting.resources.dll
packages/Microsoft.AspNet.WebApi.Client.zh-Hans.5.2.6/lib/net45/zh-Hans/System.Net.Http.Formatting.xml
packages/Microsoft.AspNet.WebApi.Client.zh-Hans.5.2.6/Microsoft.AspNet.WebApi.Client.zh-Hans.5.2.6.nupkg
packages/Microsoft.AspNet.WebApi.Core.5.2.6/.signature.p7s
packages/Microsoft.AspNet.WebApi.Core.5.2.6/Content/web.config.transform
packages/Microsoft.AspNet.WebApi.Core.5.2.6/lib/net45/System.Web.Http.dll
packages/Microsoft.AspNet.WebApi.Core.5.2.6/lib/net45/System.Web.Http.xml
packages/Microsoft.AspNet.WebApi.Core.5.2.6/lib/net45/zh-Hans/System.Web.Http.resources.dll
packages/Microsoft.AspNet.WebApi.Core.5.2.6/lib/net45/zh-Hans/System.Web.Http.xml
packages/Microsoft.AspNet.WebApi.Core.5.2.6/Microsoft.AspNet.WebApi.Core.5.2.6.nupkg
packages/Microsoft.AspNet.WebApi.Core.zh-Hans.5.2.6/.signature.p7s
packages/Microsoft.AspNet.WebApi.Core.zh-Hans.5.2.6/lib/net45/zh-Hans/System.Web.Http.resources.dll
packages/Microsoft.AspNet.WebApi.Core.zh-Hans.5.2.6/lib/net45/zh-Hans/System.Web.Http.xml
packages/Microsoft.AspNet.WebApi.Core.zh-Hans.5.2.6/Microsoft.AspNet.WebApi.Core.zh-Hans.5.2.6.nupkg
packages/Microsoft.AspNet.WebApi.Owin.5.2.6/.signature.p7s
packages/Microsoft.AspNet.WebApi.Owin.5.2.6/lib/net45/System.Web.Http.Owin.dll
packages/Microsoft.AspNet.WebApi.Owin.5.2.6/lib/net45/System.Web.Http.Owin.xml
packages/Microsoft.AspNet.WebApi.Owin.5.2.6/Microsoft.AspNet.WebApi.Owin.5.2.6.nupkg
packages/Microsoft.AspNet.WebApi.WebHost.5.2.3/lib/net45/System.Web.Http.WebHost.dll
packages/Microsoft.AspNet.WebApi.WebHost.5.2.3/lib/net45/System.Web.Http.WebHost.xml
packages/Microsoft.AspNet.WebApi.WebHost.5.2.3/lib/net45/zh-Hans/System.Web.Http.WebHost.resources.dll
packages/Microsoft.AspNet.WebApi.WebHost.5.2.3/lib/net45/zh-Hans/System.Web.Http.WebHost.xml
packages/Microsoft.AspNet.WebApi.WebHost.5.2.3/Microsoft.AspNet.WebApi.WebHost.5.2.3.nupkg
packages/Microsoft.AspNet.WebApi.WebHost.zh-Hans.5.2.3/lib/net45/zh-Hans/System.Web.Http.WebHost.resources.dll
packages/Microsoft.AspNet.WebApi.WebHost.zh-Hans.5.2.3/lib/net45/zh-Hans/System.Web.Http.WebHost.xml
packages/Microsoft.AspNet.WebApi.WebHost.zh-Hans.5.2.3/Microsoft.AspNet.WebApi.WebHost.zh-Hans.5.2.3.nupkg
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/build/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/content/web.config.install.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/content/web.config.uninstall.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0.nupkg
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/tools/init.ps1
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/tools/uninstall.ps1
packages/Microsoft.Net.Compilers.1.0.0/build/Microsoft.Net.Compilers.props
packages/Microsoft.Net.Compilers.1.0.0/Microsoft.Net.Compilers.1.0.0.nupkg
packages/Microsoft.Net.Compilers.1.0.0/ThirdPartyNotices.rtf
packages/Microsoft.Net.Compilers.1.0.0/tools/csc.exe
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.Build.Tasks.CodeAnalysis.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CodeAnalysis.CSharp.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CodeAnalysis.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CodeAnalysis.VisualBasic.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CSharp.Core.targets
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.VisualBasic.Core.targets
packages/Microsoft.Net.Compilers.1.0.0/tools/System.Collections.Immutable.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/System.Reflection.Metadata.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/vbc.exe
packages/Microsoft.Net.Compilers.1.0.0/tools/VBCSCompiler.exe
packages/Microsoft.Net.Compilers.1.0.0/tools/VBCSCompiler.exe.config
packages/Microsoft.Owin.4.0.0/lib/net451/Microsoft.Owin.dll
packages/Microsoft.Owin.4.0.0/lib/net451/Microsoft.Owin.XML
packages/Microsoft.Owin.4.0.0/Microsoft.Owin.4.0.0.nupkg
packages/Microsoft.Owin.Cors.4.0.0/lib/net451/Microsoft.Owin.Cors.dll
packages/Microsoft.Owin.Cors.4.0.0/lib/net451/Microsoft.Owin.Cors.XML
packages/Microsoft.Owin.Cors.4.0.0/Microsoft.Owin.Cors.4.0.0.nupkg
packages/Microsoft.Owin.Host.SystemWeb.4.0.0/lib/net451/Microsoft.Owin.Host.SystemWeb.dll
packages/Microsoft.Owin.Host.SystemWeb.4.0.0/lib/net451/Microsoft.Owin.Host.SystemWeb.xml
packages/Microsoft.Owin.Host.SystemWeb.4.0.0/Microsoft.Owin.Host.SystemWeb.4.0.0.nupkg
packages/Microsoft.Owin.Security.4.0.0/lib/net451/Microsoft.Owin.Security.dll
packages/Microsoft.Owin.Security.4.0.0/lib/net451/Microsoft.Owin.Security.XML
packages/Microsoft.Owin.Security.4.0.0/Microsoft.Owin.Security.4.0.0.nupkg
packages/Microsoft.Owin.Security.Cookies.2.1.0/lib/net45/Microsoft.Owin.Security.Cookies.dll
packages/Microsoft.Owin.Security.Cookies.2.1.0/lib/net45/Microsoft.Owin.Security.Cookies.xml
packages/Microsoft.Owin.Security.Cookies.2.1.0/Microsoft.Owin.Security.Cookies.2.1.0.nupkg
packages/Microsoft.Owin.Security.OAuth.4.0.0/lib/net451/Microsoft.Owin.Security.OAuth.dll
packages/Microsoft.Owin.Security.OAuth.4.0.0/lib/net451/Microsoft.Owin.Security.OAuth.XML
packages/Microsoft.Owin.Security.OAuth.4.0.0/Microsoft.Owin.Security.OAuth.4.0.0.nupkg
packages/Newtonsoft.Json.10.0.1/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.10.0.1/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.10.0.1/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.10.0.1/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.10.0.1/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.10.0.1/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.10.0.1/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.10.0.1/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.10.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.10.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.10.0.1/lib/netstandard1.3/Newtonsoft.Json.dll
packages/Newtonsoft.Json.10.0.1/lib/netstandard1.3/Newtonsoft.Json.xml
packages/Newtonsoft.Json.10.0.1/lib/portable-net45+win8+wpa81+wp8/Newtonsoft.Json.dll
packages/Newtonsoft.Json.10.0.1/lib/portable-net45+win8+wpa81+wp8/Newtonsoft.Json.xml
packages/Newtonsoft.Json.10.0.1/Newtonsoft.Json.10.0.1.nupkg
packages/Newtonsoft.Json.10.0.1/tools/install.ps1
packages/Owin.1.0/lib/net40/Owin.dll
packages/Owin.1.0/Owin.1.0.nupkg
WebOauth2/bin/ApplicationInsights.config
WebOauth2/bin/Microsoft.AI.Agent.Intercept.dll
WebOauth2/bin/Microsoft.AI.DependencyCollector.dll
WebOauth2/bin/Microsoft.AI.DependencyCollector.xml
WebOauth2/bin/Microsoft.AI.PerfCounterCollector.dll
WebOauth2/bin/Microsoft.AI.ServerTelemetryChannel.dll
WebOauth2/bin/Microsoft.AI.ServerTelemetryChannel.xml
WebOauth2/bin/Microsoft.AI.Web.dll
WebOauth2/bin/Microsoft.AI.Web.xml
WebOauth2/bin/Microsoft.AI.WindowsServer.dll
WebOauth2/bin/Microsoft.AI.WindowsServer.xml
WebOauth2/bin/Microsoft.ApplicationInsights.dll
WebOauth2/bin/Microsoft.ApplicationInsights.xml
WebOauth2/bin/Microsoft.AspNet.Identity.Core.dll
WebOauth2/bin/Microsoft.AspNet.Identity.Core.xml
WebOauth2/bin/Microsoft.AspNet.Identity.Owin.dll
WebOauth2/bin/Microsoft.AspNet.Identity.Owin.xml
WebOauth2/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
WebOauth2/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
WebOauth2/bin/Microsoft.Owin.Cors.dll
WebOauth2/bin/Microsoft.Owin.Cors.xml
WebOauth2/bin/Microsoft.Owin.dll
WebOauth2/bin/Microsoft.Owin.Host.SystemWeb.dll
WebOauth2/bin/Microsoft.Owin.Host.SystemWeb.xml
WebOauth2/bin/Microsoft.Owin.Security.Cookies.dll
WebOauth2/bin/Microsoft.Owin.Security.Cookies.xml
WebOauth2/bin/Microsoft.Owin.Security.dll
WebOauth2/bin/Microsoft.Owin.Security.OAuth.dll
WebOauth2/bin/Microsoft.Owin.Security.OAuth.xml
WebOauth2/bin/Microsoft.Owin.Security.xml
WebOauth2/bin/Microsoft.Owin.xml
WebOauth2/bin/Newtonsoft.Json.dll
WebOauth2/bin/Newtonsoft.Json.xml
WebOauth2/bin/Owin.dll
WebOauth2/bin/roslyn/csc.exe
WebOauth2/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
WebOauth2/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
WebOauth2/bin/roslyn/Microsoft.CodeAnalysis.dll
WebOauth2/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
WebOauth2/bin/roslyn/Microsoft.CSharp.Core.targets
WebOauth2/bin/roslyn/Microsoft.VisualBasic.Core.targets
WebOauth2/bin/roslyn/System.Collections.Immutable.dll
WebOauth2/bin/roslyn/System.Reflection.Metadata.dll
WebOauth2/bin/roslyn/vbc.exe
WebOauth2/bin/roslyn/VBCSCompiler.exe
WebOauth2/bin/roslyn/VBCSCompiler.exe.config
WebOauth2/bin/System.Net.Http.Formatting.dll
WebOauth2/bin/System.Net.Http.Formatting.xml
WebOauth2/bin/System.Web.Cors.dll
WebOauth2/bin/System.Web.Http.dll
WebOauth2/bin/System.Web.Http.Owin.dll
WebOauth2/bin/System.Web.Http.Owin.xml
WebOauth2/bin/System.Web.Http.WebHost.dll
WebOauth2/bin/System.Web.Http.WebHost.xml
WebOauth2/bin/System.Web.Http.xml
WebOauth2/bin/WebOauth2.dll
WebOauth2/bin/WebOauth2.dll.config
WebOauth2/bin/WebOauth2.pdb
WebOauth2/bin/zh-Hans/System.Net.Http.Formatting.resources.dll
WebOauth2/bin/zh-Hans/System.Web.Http.resources.dll
WebOauth2/bin/zh-Hans/System.Web.Http.WebHost.resources.dll
WebOauth2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebOauth2/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WebOauth2/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WebOauth2/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WebOauth2/obj/Debug/WebOauth2.csproj.FileListAbsolute.txt
WebOauth2/obj/Debug/WebOauth2.csprojResolveAssemblyReference.cache
WebOauth2/obj/Debug/WebOauth2.dll
WebOauth2/obj/Debug/WebOauth2.pdb
.vs/config/applicationhost.config
.vs/WebOauth2/v14/.suo
.vs/WebOauth2/v14/.suo
